	/* 初期設定　*/
html,body{
	height: 100%;
}

html{
	font-size: 62.5%;
	box-sizing: border-box;
	background: #f4f1e9;
}

body{
	font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
.g2{
	font-family: GSanSerif-B;
}
/* ヘッダー　*/
.logo img{
	width: 140px;
	height: 110px;
}
header .logo{
	margin-top: 30px;
	transform: translate(-9.5vw,0);
}
header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 150px;
	width: 100%;
	margin: 0 auto;
}
header .Nav{
	margin-top: 30px;
	transform: translate(9.5vw,0);
}
.Nav{
	position: relative;
	border-radius: 20px;
	width: 900px;
	height: 90px;
	background-color:white;
	/*後でJS付け加える*/
	padding : 0 5px 0 5px;
}
.Nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.Nav li{
	text-align: center;
	width: 200px;
	position: relative;
}
.Nav li:first-child{
	width: 260px;
}
.Nav li:nth-of-type(2){
	width: 240px;
	border-right: none;
}
.Nav a{
	height: 90px;
	text-decoration: none;
	line-height: 4.5;
	color: #00a968;
	font-size: 2rem;
	display: block;
}
.Nav a:hover{
	color: #00A920;
}
.Nav li::before{
	display: block;
	content: '';
	position: absolute;
	top: 19px;
	left: -1px;
	background: url(../img/navi_dot.svg)repeat-y;
	background-size: 2px 6px;
	width: 2px;
	height: 57px;
}
.Nav li:first-child::before{
	background: none;
}
 /* 本体　*/
.align{
	text-align: center;
	font-size: 4.8rem;
	color: #323232;
	letter-spacing: 0.1em;
	margin: 34px 0px 34px 0px;
}
#login{
	width: 45%;
	height: 640px;
	border-radius: 20px;
	background-color: white;
	margin: 0 auto 70px;
}
#login p{
	font-size: 2.4rem;
	color: #323232;
	text-align: center;
	line-height: 5;
}
#login p a{
	color: #323232;
}
form{
	margin: 0 auto;
}
form h2{
	font-size: 2.8rem;
	color: #323232;
	margin: 0 auto;
	width: 60%;
}
form h3{
	width: 65%;
	padding: 20px;
	font-size: 1.6rem;
	letter-spacing: 1px;
	line-height: 1.6;
	margin: 0 auto;
}
.ipt_txt{
	width: 100%;
	height: 70px;
	border: 3px solid #cccccc;
	border-radius: 10px;
	padding-left: 10px;
	color: gray;
}
button{
	width: 300px;
	height: 60px;
	border-radius: 20px;
	background: #00a968;
	margin: 30px auto 0;
	position: absolute;
	left: 0;
	right: 0;
	border-bottom: solid 4px #007549;
}
button:active{
	transform: translateY(4px);
	border-bottom: none;
	border-radius: 20px;
}
button a{
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 2.8rem;
	line-height: 2;
}
button a:active{
	transform: translateY(4px);
	border-bottom: none;
	border-radius: 20px;
}
button:hover{
	background: #00814F;
}
#login p:last-child{
	margin-top: 90px;
}
/*フッター*/
.foot{
	position: relative;
	margin-bottom: 50px;
}
footer{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}
footer .Nav{
	margin: 0 auto;
}
footer .info{
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	padding-top: 30px;
	margin: 80px auto 0;
	font-size: 1.8rem;
	color: white;
	background: #00a968;
}
.info .fL{
	padding-top: 10px;
	padding-bottom: 40px;
}
.info .img_center{
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
}
.info .fR{
	padding-top: 25px; 
}